@media only screen and (max-width: 600px) {

    .post-details {
        display: flex;
        flex-direction: column;
    }

    .bottom-hr {
       display: none;
    }
    
    .top-hr {
        display: block;
    }
}

@media only screen and (max-width: 800px) {

    .posts-container {
        flex-direction: column;
        justify-content: center;
    }

    .post-widget {
        color: blue;
        width: 90%;
    }

    .new-post-dialog {
        width: 90%;
        color: red;
    }
}

.cart-dropdown {
    z-index: 1;
    display: none;
    width: 400px;
    position: absolute;
    max-height: 525px;
    overflow: auto;
}

.cart:hover .cart-dropdown {
    display: block;
}

.new-post-dialog {
    width: 50%;
}

.profile-pic {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.post-image {
    max-height: 200px;
    object-fit: contain;
}

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.post-widget {
    flex-basis: calc(32% - 1rem);
    margin: 0.5rem;
    height: 500px;
}

.post-widget img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#post-details-header {
    display: flex;
    align-items: center;
}

#rating-stars > i {
    font-size: 30px;
}

.upper-hr {
    display: none;
}

.wallpaper {
    display: flex;
    flex-direction: row;
    color: white;
}