{% extends '_base.html' %}

{% load static %}

{% block title %}{{ profile_user }}{% endblock title %}

{% block body %}
<div class="container p-3">
    <input type="hidden" name="profile-user" id="profile-user" value="{{ profile_user }}">
    <div class="container bg-white border rounded p-0">
        <!-- Wallpaper -->
        <div class="wallpaper p-3 d-flex">
            <input type="hidden" value="{{ profile_user.wallpaper.url }}" name="wallpaper">
            <img src="{{ profile_user.profile_pic.url }}" class="profile-pic" id="profile-pic" style="height: 100px; width: 100px;" alt="profile pic">
            <div class="d-flex align-items-center justify-content-center">
                <div class="mx-3 d-flex align-items-center bg-light border rounded p-3 shadow-sm h-50">
                    <h4 id="username" class="text-dark">{{ profile_user }}</h4>
                </div>
            </div>
        </div>

        <div class="container p-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about" id="about-link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#posts" id="posts-link">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#comments" id="comments-link">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit_profile' %}" tabindex="-1" aria-disabled="true">Edit Profile</a>
                </li>
            </ul>
            <div id="about" class="p-3">
                <div class="mb-3">
                    <span class="text-muted">Location: </span><b>{{ profile_user.location }}</b>
                </div>
                <div class="mb-3">
                    <span class="text-muted">User since: </span><b><i class="fa-regular fa-calendar"></i> {{ profile_user.date_joined }}</b>
                </div>
                <div class="mb-3">
                    <span class="text-muted">Username: </span><b>{{ profile_user }}</b>
                </div>
            </div>
            <div id="posts" class="p-3 d-none">
                <div class="row mb-3 search-posts-options">
                    <form class="col d-flex search-posts-container">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-user-posts">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div class="col select-posts-order-container">
                        <select class="form-select" name="select-order">
                            <option>Order by</option>
                            <option value="price">Lesser price to greater price</option>
                            <option value="date">Date</option>
                            <option value="category">Category</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="posts-container">
                    {% for post in posts %}
                        {% include 'listings/post.html' %}
                    {% empty %}
                        Posts
                    {% endfor %}
                </div>
            </div>
            <div id="comments" class="p-3 d-none">
                {% for comment in comments %}
                    {% include 'listings/comment.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/wallpapers.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/rating.js' %}"></script>
{% endblock body %}