{% extends '_base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block body %}
<div class="container p-md-3" style="overflow-x: hidden;">
    <div class="bg-white row p-0 border rounded post-details">
        <!-- Right Container -->
        <div class="col-sm p-0">
            {% if post.images.all|length > 1 %}
                <div id="postImagesCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#postImagesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        {% for image in post.images.all|slice:"1:" %}
                            <button type="button" data-bs-target="#postImagesCarousel" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter|add:1 }}"></button>
                        {% endfor %}
                        </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active bg-dark">
                            <div style="height: 500px;">
                                <img src="{{ post.images.all.0.image.url }}" class="d-block w-100" alt="{{ post.title }}" style="height: 500px; object-fit: cover;">
                            </div> 
                        </div>
                        {% for image in post.images.all|slice:"1:" %}
                            <div class="carousel-item bg-dark">
                                <div style="height: 500px;">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ post.title }}" style="height: 500px; object-fit: cover;">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#postImagesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#postImagesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            {% else %}
                <div style="height: 500px;">
                    <img src="{{ post.images.all.0.image.url }}" class="d-block w-100" alt="{{ post.title }}" style="height: 500px; object-fit: cover;">
                </div> 
            {% endif %}
            <!-- Rating -->
            <div class="p-3">
                <div class="p-3 container border rounded">
                    <div class="mb-3 d-flex justify-content-center align-items-center">
                        <h4 id="rating">{{ post.rating }}</h4>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <i class="fa-regular fa-star mx-1 rating-star fs-2" id="1"></i>
                        <i class="fa-regular fa-star mx-1 rating-star fs-2" id="2"></i>
                        <i class="fa-regular fa-star mx-1 rating-star fs-2" id="3"></i>
                        <i class="fa-regular fa-star mx-1 rating-star fs-2" id="4"></i>
                        <i class="fa-regular fa-star mx-1 rating-star fs-2" id="5"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="text-muted">({{ post.ratings.all|length }} reviews)</span>
                    </div>
                </div>
            </div>   
            <!-- Amenities -->
            <div class="mb-3" id="post-amenities">
                <hr>
                <h3 class="mb-3 mx-3">Amenities</h3>
                <div class="p-3">
                    {% for amenities_list in amenities %}
                    <div class="row mb-3">
                        {% for amenitie in amenities_list %}
                        <div class="col-4 d-flex align-items-center justify-content-center">
                            <input type="hidden" name="post-amenitie" value="{{ amenitie.id }}">
                            <div class="container border rounded shadow-sm p-3 mx-3 amenitie">
                                <div class="d-flex justify-content-center mx-auto mb-1">
                                    <i class="{{ amenitie.icon }} mx-auto"></i>
                                </div>
                                <div class="d-flex justify-content-center text-truncate">
                                    {{ amenitie }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div> 
            <!-- Update Amenities -->
            <div class="mb-3" style="display: none;" id="update-post-ammenities-form">
                <h3 class="mb-3 mx-3">Amenities</h3>
                <div class="p-3">
                    <div class="d-flex flex-wrap" id="update-post-ammenities" style="overflow: auto">
                        <!-- Update Ammenities -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Container -->
        <div class="col-sm p-3">
            {% if user.is_authenticated %}
            <!-- Update Form -->
            <!-- Info -->
            <form action="{% url 'update_post' %}" method="post" id="update-post-form" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}">
                <div class="row mb-3" id="post-details-header">
                    <!-- Title -->
                    <div>
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" id="new-post-form-title" name="title" value="{{ post.title }}" required>
                    </div>
                </div>
                <!-- Author Info -->
                <div class="mb-3">
                    <div class="wallpaper p-3 d-flex align-items-center">
                        {% if post.author.wallpaper %}
                        <input type="hidden" value="{{ post.author.wallpaper.url }}" name="wallpaper">
                        <img src="{{ post.author.profile_pic.url }}" class="profile-pic" id="profile-pic" style="height: 50px; width: 50px;" alt="profile pic">
                        {% endif %}
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="mx-3 d-flex align-items-center bg-light border rounded p-2 shadow-sm h-50">
                                <a class="text-decoration-none" href="{% url 'profile' user %}">
                                    <h4 id="username" class="text-dark">{{ user }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <label  class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="new-post-form-description" name="description" rows="3" required>{{ post.description }}</textarea>
                </div>
                <!-- Guests, Bedrooms, Beds & Bathrooms -->
                <div class="mb-3 p-3">
                    <div class="row mb-3">
                        <!-- Bedrooms -->
                        <input type="hidden" name="bedrooms" value="1" required>
                        <!-- Label -->
                        <div class="col-8 col-md-9">
                            <h6>Bedrooms</h6>
                        </div>
                        <!-- Input Number -->
                        <div class="col-2 col-md-3 d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="white-circle border shadow-sm remove-field" data-field="bedrooms">
                                    <i class="fa-solid fa-minus" data-field="bedrooms"></i>
                                </div>
                                <span class="mx-3" id="bedrooms-number">
                                    {{ post.bedrooms }}
                                </span>
                                <div class="white-circle border shadow-sm add-field" data-field="bedrooms">
                                    <i class="fa-solid fa-plus" data-field="bedrooms"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row mb-3">
                        <!-- Beds -->
                        <input type="hidden" name="beds" value="1" required>
                        <!-- Label -->
                        <div class="col-8 col-md-9">
                            <h6>Beds</h6>
                        </div>
                        <!-- Input Number -->
                        <div class="col-2 col-md-3 d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="white-circle border shadow-sm remove-field" data-field="beds">
                                    <i class="fa-solid fa-minus" data-field="beds"></i>
                                </div>
                                <span class="mx-3" id="beds-number">
                                    {{ post.beds }}
                                </span>
                                <div class="white-circle border shadow-sm add-field" data-field="beds">
                                    <i class="fa-solid fa-plus" data-field="beds"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row mb-3">
                        <!-- Bathrooms -->
                        <input type="hidden" name="bathrooms" value="1" required>
                        <!-- Label -->
                        <div class="col-8 col-md-9">
                            <h6>Bathrooms</h6>
                        </div>
                        <!-- Input Number -->
                        <div class="col-2 col-md-3 d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="white-circle border shadow-sm remove-field" data-field="bathrooms">
                                    <i class="fa-solid fa-minus" data-field="bathrooms"></i>
                                </div>
                                <span class="mx-3" id="bathrooms-number">
                                    {{ post.bathrooms }}
                                </span>
                                <div class="white-circle border shadow-sm add-field" data-field="bathrooms">
                                    <i class="fa-solid fa-plus" data-field="bathrooms"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row mb-3">
                        <!-- Guests -->
                        <input type="hidden" name="guests" value="1" required>
                        <!-- Label -->
                        <div class="col-8 col-md-9">
                            <h6>Guests</h6>
                        </div>
                        <!-- Input Number -->
                        <div class="col-2 col-md-3 d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="white-circle border shadow-sm remove-field" data-field="guests">
                                    <i class="fa-solid fa-minus" data-field="guests"></i>
                                </div>
                                <span class="mx-3" id="guests-number">
                                    {{ post.guests }}
                                </span>
                                <div class="white-circle border shadow-sm add-field" data-field="guests">
                                    <i class="fa-solid fa-plus" data-field="guests"></i>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div id="post-options">
                    <hr>
                    <!-- Payment -->                
                    <div class="container bg-white rounded border mb-5">
                        <!-- Price -->
                        <div class="mb-2 p-3">
                            <label class="form-label" for="price">Price a night</label>
                            <input type="number" class="form-control" id="new-post-form-price" name="price" value="{{ post.price }}" required>
                        </div>
                        <div class="mb-3 p-3">
                            <label class="form-label" for="price">Location</label>
                            <input class="form-control" name="location" value="{{ post.location }}" required>
                        </div>
                        <div class="mb-3 p-3">
                            <label class="form-label" for="place-type">Place Type</label>
                            <select class="form-control w-100" id="place-type" name="place-type" value="{{ post.type }}">
                                <option value="room">Room</option>
                                <option value="house">Entire House</option>
                            </select>
                        </div>
                        <div class="mb-3 p-3">
                            <label class="form-label" for="select-category">Category</label>
                            <select class="form-select" id="category-select" name="category" value="{{ post.category }}" required>
                                <option value="" disabled selected>Select a category</option>
                            </select>
                        </div>
                    </div>   
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger me-3" id="cancel-update-post-form">Cancel</button>
                        <button type="submit" class="btn btn-success" id="">Edit</button>  
                    </div>             
                </div>
            </form>
            {% endif %}
            <!-- Update Form -->

            <!-- Info -->
            <div id="info">
                <div class="row mb-3" id="post-details-header">
                    <!-- Title -->
                    <div class="col-8 col-md-9">
                        <h4 class="post-details-title" id="post-title">{{ post.title }}</h4> 
                    </div>
                    <div class="col-4 col-md-3 d-flex">
                        <!-- Update and delete options-->
                        {% if post.author == user %}
                        <div class="dropdown ms-auto me-3">
                            <div class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                </svg>
                            </div>
                            <ul class="dropdown-menu">
                            <li>
                                <span class="dropdown-item edit-post">
                                    Edit Post
                                </span>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'delete_post' post.id %}">
                                    Delete
                                </a>
                            </li>
                            </ul>
                        </div>
                        {% endif %}
                        <!-- Wishlist -->
                        {% if user != post.author %}
                        {% if post.is_in_wishlist %}
                        <span class="add-to-wishlist" data-item="{{ post.id }}" style="display: none;">
                            <i class="fa-regular fa-heart" data-item="{{ post.id }}"></i>
                            <span class="d-md-inline-block" data-item="{{ post.id }}">
                                Save
                            </span>
                        </span>
                        <span class="remove-wishlist-item" data-item="{{ post.id }}">
                            <i class="fa-solid fa-heart" data-item="{{ post.id }}"></i>
                            <span class="d-md-inline-block" data-item="{{ post.id }}">
                                Unsave
                            </span>
                        </span>
                        {% elif user.is_authenticated %}
                        <span class="add-to-wishlist hover" data-item="{{ post.id }}">
                            <i class="fa-regular fa-heart" data-item="{{ post.id }}"></i>
                            <span class="d-md-inline-block" data-item="{{ post.id }}">
                                Save
                            </span>
                        </span>
                        <span class="remove-wishlist-item" data-item="{{ post.id }}" style="display: none;"> 
                            <i class="fa-solid fa-heart" data-item="{{ post.id }}"></i>
                            <span class="d-md-inline-block" data-item="{{ post.id }}">
                                Unsave
                            </span>
                        </span>
                        {% else %}
                        <a class="text-decoration-none text-dark" href="{% url 'login' %}?next=/post/{{ post.id }}">
                            <i class="fa-regular fa-heart" data-item="{{ post.id }}"></i>
                            Save
                        </a>
                        <a class="text-decoration-none text-dark" href="{% url 'login' %}?next=/post/{{ post.id }}" style="display: none;">
                            <i class="fa-solid fa-heart"></i>
                            Unsave
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
        
                </div>
                <!-- Author Info -->
                <div class="mb-3">
                    <div class="wallpaper p-3 d-flex align-items-center rounded">
                        <input type="hidden" value="{{ post.author.wallpaper.url }}" name="wallpaper">
                        <img src="{{ post.author.profile_pic.url }}" class="profile-pic" id="profile-pic" style="height: 50px; width: 50px;" alt="profile pic">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="mx-3 d-flex align-items-center bg-light border rounded p-2 shadow-sm h-50">
                                <a class="text-decoration-none" href="{% url 'profile' post.author %}">
                                    <h4 id="username" class="text-dark">{{ post.author }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <span id="post-description">{{ post.description }}</span>
                </div>
                <!-- Guests, Bedrooms, Beds & Bathrooms -->
                <div class="mb-3 p-3">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="container border rounded shadow-sm d-flex align-items-center mb-3 me-md-3 p-3">
                            <i class="fa-solid fa-users"></i><span class="mx-3">Guests</span><b id="post-guests">{{ post.guests }}</b>
                        </div>
                        <div class="container border rounded  shadow-sm align-items-center mb-3 me-md-3 p-3">
                            <i class="fa-solid fa-door-closed"></i><span class="mx-3">Bedrooms</span><b id="post-bedrooms">{{ post.bedrooms }}</b>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row">
                        <div class="container border rounded d-flex shadow-sm align-items-center mb-3 me-md-3 p-3">
                            <i class="fa-solid fa-bed mx-1"></i><span class="mx-3">Beds</span><b id="post-beds">{{ post.beds }}</b>
                        </div>
                        <div class="container border rounded d-flex shadow-sm align-items-center mb-3 me-md-3 p-3">
                            <i class="fa-solid fa-toilet mx-1"></i><span class="mx-3">Bathrooms</span><b id="post-bathrooms">{{ post.bathrooms }}</b>
                        </div>
                    </div>
                </div>
                <div id="post-options">
                    <hr>
                    <!-- Payment form -->
                    <form action="{% url 'reserve' post.id %}" method="get" class="mb-3" id="reserve-form" data-listing="{{ post.id }}">
                        <div class="container bg-white rounded border">
                            <!-- Price -->
                            <div class="mb-3 d-flex align-items-center p-1">
                                <h3 id="post-price">${{ post.price }} USD</h3> <span class="text-muted mx-3">night</span>
                            </div>
                            <!-- Check In & Check Out -->
                            <div class="mb-3 d-flex">
                                <div class="p-1 w-50">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="check-in" name="check-in" min="{{ starting_check_in }}" value="{{ starting_check_in }}" required>
                                        <label for="check-in">Check In</label>
                                    </div>
                                </div>
                                <div class="p-1 w-50">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="check-out" name="check-out" min="{{ starting_check_in }}" value="{{ starting_check_in }}" required>
                                        <label for="check-out">Check Out</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Guests -->
                            <div class="mb-3 p-1">
                                <input type="hidden" name="max-guests" value="{{ post.guests }}">
                                <div class="dropdown">
                                    <!-- Trigger -->   
                                    <div class="form-floating" type="button" id="guests" aria-expanded="false">
                                        <span class="form-control dropdown-toggle" id="guests-text">1 Adult</span>
                                        <label for="guests-text">Guests</label>
                                    </div>               
                                    <!-- Dropdown -->
                                    <ul class="dropdown-menu w-100" aria-labelledby="guests" id="guests-dropdown-form" style="display: none;">
                                        <!-- Adults -->
                                        <li>
                                            <div class="dropdown-item">
                                                <div class="row">
                                                    <input type="hidden" name="adults" required>
                                                    <!-- Label -->
                                                    <div class="col-8 col-md-9">
                                                        <h6>Adults</h6>
                                                        <span class="text-muted">Age 13+</span>
                                                    </div>
                                                    <!-- Input Number -->
                                                    <div class="col-2 col-md-3 d-flex align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <div class="white-circle border shadow-sm remove-guests" data-guests-type="adults">
                                                                <i class="fa-solid fa-minus" data-guests-type="adults"></i>
                                                            </div>
                                                            <span class="mx-3" id="adults-number">
                                                                1
                                                            </span>
                                                            <div class="white-circle border shadow-sm add-guests" data-guests-type="adults">
                                                                <i class="fa-solid fa-plus" data-guests-type="adults"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Children -->
                                        <li>
                                            <div class="dropdown-item">
                                                <div class="row">
                                                    <input type="hidden" name="children">
                                                    <!-- Label -->
                                                    <div class="col-8 col-md-9">
                                                        <h6>Children</h6>
                                                        <span class="text-muted">Ages 2-12</span>
                                                    </div>
                                                    <!-- Input Number -->
                                                    <div class="col-2 col-md-3 d-flex align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <div class="white-circle border shadow-sm remove-guests" data-guests-type="children">
                                                                <i class="fa-solid fa-minus" data-guests-type="children"></i>
                                                            </div>
                                                            <span class="mx-3" id="children-number">
                                                                0
                                                            </span>
                                                            <div class="white-circle border shadow-sm add-guests" data-guests-type="children">
                                                                <i class="fa-solid fa-plus" data-guests-type="children"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Infants -->
                                        <li>
                                            <div class="dropdown-item">
                                                <div class="row">
                                                    <input type="hidden" name="infants">
                                                    <!-- Label -->
                                                    <div class="col-8 col-md-9">
                                                        <h6>Infants</h6>
                                                        <span class="text-muted">Under 2</span>
                                                    </div>
                                                    <!-- Input Number -->
                                                    <div class="col-2 col-md-3 d-flex align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <div class="white-circle border shadow-sm remove-guests" data-guests-type="infants">
                                                                <i class="fa-solid fa-minus" data-guests-type="infants"></i>
                                                            </div>
                                                            <span class="mx-3" id="infants-number">
                                                                0
                                                            </span>
                                                            <div class="white-circle border shadow-sm add-guests" data-guests-type="infants">
                                                                <i class="fa-solid fa-plus" data-guests-type="infants"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>      
                            <div class="mb-3 p-1">
                                <input type="button" id="reserve-button" class="btn btn-success w-100" value="Reserve">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!-- Comments & Ratings Container -->
        <div class="p-3">
            <div class="mb-3">
                <h2>Comments</h2>
            </div>
            {% if user.is_authenticated and has_reserved and not has_commented %}
                <div class="p-3 container border" id="comment-form-container">
                    <div class="d-flex align-items-center">
                        <img src="{{ user.profile_pic.url }}" class="profile-pic">
                        <a class="mx-3 text-decoration-none" href="{% url 'profile' user %}">{{ user }}</a>
                        <div class="d-flex justify-content-center align-items-center rating-stars" id="rating-stars" data-item="{{ post.id }}">
                            {% if has_reserved %}
                                <i class="fa-regular fa-star mx-1 fs-6" id="1"></i>
                                <i class="fa-regular fa-star mx-1 fs-6" id="2"></i>
                                <i class="fa-regular fa-star mx-1 fs-6" id="3"></i>
                                <i class="fa-regular fa-star mx-1 fs-6" id="4"></i>
                                <i class="fa-regular fa-star mx-1 fs-6" id="5"></i>
                                <form class="d-none" method="post" id="rating-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="rating" value="0"/>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <form action="{% url 'comment' post.id %}" method="post" id="comment-form" data-post="{{ post.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="rating">
                        <div class="mb-3">
                            <textarea name="comment" rows="3" placeholder="Comment here" class="form-control" id="comment-textarea"></textarea>
                        </div>
                        <input type="submit" class="btn btn-success">
                    </form> 
                </div>
            {% endif %}
        </div>
        <div class="p-3" id="comments-container">
            {% for comment in comments %}
                {% include 'listings/comment.html' %}
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/rating.js' %}"></script>
<script src="{% static 'js/wallpapers.js' %}"></script>
<script src="{% static 'js/reserve.js' %}"></script>
<script src="{% static 'js/add_fields.js' %}"></script>
{% endblock %}