{% extends '_base.html' %}

{% load static %}

{% block title %}Requests to Book{% endblock %}

{% block body %}
<div class="p-3">
    <div class="container bg-white p-3">
        <!-- Nav -->
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link active request-link" aria-current="page" href="#pending">Pending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link request-link" href="#accepted">Accepted</a>
            </li>
            <li class="nav-item">
              <a class="nav-link request-link" href="#declined">Declined</a>
            </li>
        </ul>
        <div class="row mb-3 search-posts-options">
            <form class="col d-flex search-posts-container">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-requests">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="col select-posts-order-container">
                <select class="form-select" name="select-requests-order">
                    <option value="date">Order by</option>
                    <option value="price">Lesser price to greater price</option>
                    <option value="date">Date</option>
                    <option value="category">Category</option>
                </select>
            </div>
        </div>
        <div id="requests" class="p-3">
            <div id="pending">
                {% for request_to_book in pending_requests %}
                <div class="mb-3" id="request-{{ request_to_book.id }}">
                    {% include 'reservations/request_details.html' %}
                </div>
                {% empty %}
                <h1>No requests</h1>
                {% endfor %}
            </div>
            <div id="accepted" class="d-none">
                {% for request_to_book in accepted_requests %}
                <div class="mb-3" id="request-{{ request_to_book.id }}">
                    {% include 'reservations/request_details.html' %}
                </div>
                {% empty %}
                <h1>No requests</h1>
                {% endfor %}
            </div>
            <div id="declined" class="d-none">
                {% for request_to_book in declined_requests %}
                <div class="mb-3" id="request-{{ request_to_book.id }}">
                    {% include 'reservations/request_details.html' %}
                </div>
                {% empty %}
                <h1>No requests</h1>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/rating.js' %}"></script>
<script src="{% static 'js/requests.js' %}"></script>
{% endblock %}