{% extends "_base.html" %}

{% block title %}My Cart{% endblock title %}

{% block body %}
    <div class="p-3 container border rounded bg-white" id="posts">
        <div class="row mb-3">
            <form class="d-flex w-50">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="w-50">
                <select class="form-select" name="select-order">
                    <option>Order by</option>
                    <option value="price">Lesser price to greater price</option>
                    <option value="date">Date</option>
                    <option value="category">Category</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="posts-container">
            {% for item in cart.items.all %}
                {% with post=item.item %}
                    {% include 'post.html' %}
                {% endwith %}
            {% empty %}
                Posts
            {% endfor %}
        </div>
    </div>
    <script src="{% url 'profile.js' %}"></script>
{% endblock body %}
